!*.yaml
!home
!scenes
!.gitignore
*.sh
git
.ha_access
.ha_url
secrets.yaml
known_devices.yaml
shell
hassio
ip_bans.yaml
*.conf
tts
homebridge
customize.yaml
google_calendars.yaml
entity_registry.yaml
.HA_VERSION
.automatic
.cloud
.google.token
.spotify-token-cache
.ssh
.uuid
*.log
*.db
